@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

.center-card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* This will center the card vertically */
  }